{% assign bridge = site.data.lecture_connections[page.url] %}
{% if bridge %}
<aside class="lecture-connections" aria-label="Connections to other lecture modules">
  <div class="connection-groups">
    <div class="connection-group">
      <span class="connection-label">Builds on</span>
      <div class="connection-links">
        {% for item in bridge.builds_on %}
          <a href="{{ site.url }}{{ item.url }}">{{ item.label }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="connection-group">
      <span class="connection-label">Continue with</span>
      <div class="connection-links">
        {% for item in bridge.leads_to %}
          <a href="{{ site.url }}{{ item.url }}">{{ item.label }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <p>{{ bridge.note }}</p>
</aside>
{% endif %}
