<nav class="lecture-module-nav" aria-label="Lecture library navigation">
  <a href="{{ site.url }}/lecture/" class="lecture-module-home">← Library</a>
  <a href="{{ site.url }}/lecture/electronic-structure/">01 Electronic</a>
  <a href="{{ site.url }}/lecture/spin-hamiltonians/">02 Hamiltonians</a>
  <a href="{{ site.url }}/lecture/spin-dynamics/">03 Dynamics</a>
  <a href="{{ site.url }}/lecture/radical-pairs/">04 Radical pairs</a>
  <a href="{{ site.url }}/lecture/magnetic-resonance/">05 EPR</a>
  <a href="{{ site.url }}/lecture/electron-transfer/">06 Electron transfer</a>
  <a href="{{ site.url }}/lecture/molecular-motion/">07 Motion</a>
  <a href="{{ site.url }}/lecture/computational-lab/">08 Lab</a>
  <a href="{{ site.url }}/lecture/open-systems/">09 Open systems</a>
  <a href="{{ site.url }}/lecture/quantum-biology/">10 Quantum biology</a>
  <a href="{{ site.url }}/lecture/excited-state-photochemistry/">11 Photochemistry</a>
  <a href="{{ site.url }}/lecture/coherent-control/">12 Coherent control</a>
  <a href="{{ site.url }}/lecture/molspin-notebooks/">13 MolSpin</a>
</nav>
